In [1]:
import pandas as pd
import numpy as np

In [2]:
#importing data
airbnb_data_path = "../Data/Airbnb_Data.csv"
df = pd.read_csv(airbnb_data_path)

In [3]:
df.head()

,id,log_price,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,...,latitude,longitude,name,neighbourhood,number_of_reviews,review_scores_rating,thumbnail_url,zipcode,bedrooms,beds
0,6901257,5.010635,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",3,1.0,Real Bed,strict,True,...,40.696524,-73.991617,Beautiful brownstone 1-bedroom,Brooklyn Heights,2,100.0,https://a0.muscache.com/im/pictures/6d7cbbf7-c...,11201,1.0,1.0
1,6304928,5.129899,Apartment,Entire home/apt,"{""Wireless Internet"",""Air conditioning"",Kitche...",7,1.0,Real Bed,strict,True,...,40.766115,-73.989040,Superb 3BR Apt Located Near Times Square,Hell's Kitchen,6,93.0,https://a0.muscache.com/im/pictures/348a55fe-4...,10019,3.0,3.0
2,7919400,4.976734,Apartment,Entire home/apt,"{TV,""Cable TV"",""Wireless Internet"",""Air condit...",5,1.0,Real Bed,moderate,True,...,40.808110,-73.943756,The Garden Oasis,Harlem,10,92.0,https://a0.muscache.com/im/pictures/6fae5362-9...,10027,1.0,3.0
3,13418779,6.620073,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.0,Real Bed,flexible,True,...,37.772004,-122.431619,Beautiful Flat in the Heart of SF!,Lower Haight,0,NaN,https://a0.muscache.com/im/pictures/72208dad-9...,94117.0,2.0,2.0
4,3808709,4.744932,Apartment,Entire home/apt,"{TV,Internet,""Wireless Internet"",""Air conditio...",2,1.0,Real Bed,moderate,True,...,38.925627,-77.034596,Great studio in midtown DC,Columbia Heights,4,40.0,NaN,20009,0.0,1.0

In [4]:
df.describe()

,id,log_price,accommodates,bathrooms,latitude,longitude,number_of_reviews,review_scores_rating,bedrooms,beds
count,7.411100e+04,74111.000000,74111.000000,73911.000000,74111.000000,74111.000000,74111.000000,57389.000000,74020.000000,73980.000000
mean,1.126662e+07,4.782069,3.155146,1.235263,38.445958,-92.397525,20.900568,94.067365,1.265793,1.710868
std,6.081735e+06,0.717394,2.153589,0.582044,3.080167,21.705322,37.828641,7.836556,0.852143,1.254142
min,3.440000e+02,0.000000,1.000000,0.000000,33.338905,-122.511500,0.000000,20.000000,0.000000,0.000000
25%,6.261964e+06,4.317488,2.000000,1.000000,34.127908,-118.342374,1.000000,92.000000,1.000000,1.000000
50%,1.225415e+07,4.709530,2.000000,1.000000,40.662138,-76.996965,6.000000,96.000000,1.000000,1.000000
75%,1.640226e+07,5.220356,4.000000,1.000000,40.746096,-73.954660,23.000000,100.000000,1.000000,2.000000
max,2.123090e+07,7.600402,16.000000,8.000000,42.390437,-70.985047,605.000000,100.000000,10.000000,18.000000

In [5]:
cols = df.columns
print(cols)

# droping columns that are not useful
df.drop(columns = ['id','description','host_has_profile_pic',
                   'latitude','longitude','neighbourhood',
                   'first_review','last_review','accommodates',
                   'host_response_rate','thumbnail_url','name',
                   'amenities','host_since','zipcode'
                  ],inplace = True)

Index(['id', 'log_price', 'property_type', 'room_type', 'amenities',
       'accommodates', 'bathrooms', 'bed_type', 'cancellation_policy',
       'cleaning_fee', 'city', 'description', 'first_review',
       'host_has_profile_pic', 'host_identity_verified', 'host_response_rate',
       'host_since', 'instant_bookable', 'last_review', 'latitude',
       'longitude', 'name', 'neighbourhood', 'number_of_reviews',
       'review_scores_rating', 'thumbnail_url', 'zipcode', 'bedrooms', 'beds'],
      dtype='object')

In [6]:
import pandas as pd


df = df.dropna(subset=['host_identity_verified'])

# Update 'instant_bookable' column
df['instant_bookable'] = df['instant_bookable'].map({'t': 1, 'f': 0})

# Update 'host_identity_verified' column
df['host_identity_verified'] = df['host_identity_verified'].map({'t': 1, 'f': 0})

In [7]:
from sklearn.preprocessing import OneHotEncoder

# Instantiate the encoder
encoder = OneHotEncoder()

# Fit and transform the categorical columns
array_hot_encoded = encoder.fit_transform(df[['property_type', 'room_type', 'bed_type', 'cancellation_policy','city']])

# Convert the array to a DataFrame
data_hot_encoded = pd.DataFrame(array_hot_encoded.toarray(), columns=encoder.get_feature_names_out(['property_type', 'room_type', 'bed_type', 'cancellation_policy','city']), index=df.index)

# Concatenate the encoded columns with the original data
df_encoded = pd.concat([data_hot_encoded, df.drop(columns=['property_type', 'room_type', 'bed_type', 'cancellation_policy','city'])], axis=1)

# Now 'data_out' contains the one-hot encoded columns
df_encoded.head()

,property_type_Apartment,property_type_Bed & Breakfast,property_type_Boat,property_type_Boutique hotel,property_type_Bungalow,property_type_Cabin,property_type_Camper/RV,property_type_Casa particular,property_type_Castle,property_type_Cave,...,city_SF,log_price,bathrooms,cleaning_fee,host_identity_verified,instant_bookable,number_of_reviews,review_scores_rating,bedrooms,beds
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.010635,1.0,True,1,0,2,100.0,1.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.129899,1.0,True,0,1,6,93.0,3.0,3.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.976734,1.0,True,1,1,10,92.0,1.0,3.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,6.620073,1.0,True,1,0,0,NaN,2.0,2.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,4.744932,1.0,True,1,1,4,40.0,0.0,1.0

In [8]:
df_encoded = df_encoded.dropna(subset=['bathrooms','review_scores_rating','bedrooms','beds'])

In [9]:
df_encoded.isnull().sum()

property_type_Apartment          0
property_type_Bed & Breakfast    0
property_type_Boat               0
property_type_Boutique hotel     0
property_type_Bungalow           0
                                ..
instant_bookable                 0
number_of_reviews                0
review_scores_rating             0
bedrooms                         0
beds                             0
Length: 63, dtype: int64

In [10]:
cols = df_encoded.columns
print(cols)

Index(['property_type_Apartment', 'property_type_Bed & Breakfast',
       'property_type_Boat', 'property_type_Boutique hotel',
       'property_type_Bungalow', 'property_type_Cabin',
       'property_type_Camper/RV', 'property_type_Casa particular',
       'property_type_Castle', 'property_type_Cave', 'property_type_Chalet',
       'property_type_Condominium', 'property_type_Dorm',
       'property_type_Earth House', 'property_type_Guest suite',
       'property_type_Guesthouse', 'property_type_Hostel',
       'property_type_House', 'property_type_Hut', 'property_type_In-law',
       'property_type_Island', 'property_type_Lighthouse',
       'property_type_Loft', 'property_type_Other',
       'property_type_Parking Space', 'property_type_Serviced apartment',
       'property_type_Tent', 'property_type_Timeshare', 'property_type_Tipi',
       'property_type_Townhouse', 'property_type_Train',
       'property_type_Treehouse', 'property_type_Vacation home',
       'property_type_Villa', 'property_type_Yurt',
       'room_type_Entire home/apt', 'room_type_Private room',
       'room_type_Shared room', 'bed_type_Airbed', 'bed_type_Couch',
       'bed_type_Futon', 'bed_type_Pull-out Sofa', 'bed_type_Real Bed',
       'cancellation_policy_flexible', 'cancellation_policy_moderate',
       'cancellation_policy_strict', 'cancellation_policy_super_strict_30',
       'cancellation_policy_super_strict_60', 'city_Boston', 'city_Chicago',
       'city_DC', 'city_LA', 'city_NYC', 'city_SF', 'log_price', 'bathrooms',
       'cleaning_fee', 'host_identity_verified', 'instant_bookable',
       'number_of_reviews', 'review_scores_rating', 'bedrooms', 'beds'],
      dtype='object')

In [11]:
df_encoded.describe()

,property_type_Apartment,property_type_Bed & Breakfast,property_type_Boat,property_type_Boutique hotel,property_type_Bungalow,property_type_Cabin,property_type_Camper/RV,property_type_Casa particular,property_type_Castle,property_type_Cave,...,city_NYC,city_SF,log_price,bathrooms,host_identity_verified,instant_bookable,number_of_reviews,review_scores_rating,bedrooms,beds
count,56989.000000,56989.000000,56989.000000,56989.000000,56989.000000,56989.000000,56989.000000,56989.0,56989.000000,56989.000000,...,56989.000000,56989.000000,56989.000000,56989.000000,56989.000000,56989.000000,56989.000000,56989.000000,56989.000000,56989.000000
mean,0.657057,0.006177,0.000807,0.000825,0.005387,0.001105,0.001158,0.0,0.000228,0.000035,...,0.434365,0.088228,4.750101,1.227202,0.728930,0.268596,26.941655,94.077208,1.262191,1.740599
std,0.474697,0.078349,0.028400,0.028706,0.073199,0.033231,0.034012,0.0,0.015102,0.005924,...,0.495678,0.283628,0.669091,0.562879,0.444516,0.443233,41.032636,7.830429,0.843124,1.267568
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,20.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,4.304065,1.000000,0.000000,0.000000,3.000000,92.000000,1.000000,1.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,0.000000,0.000000,4.700480,1.000000,1.000000,0.000000,11.000000,96.000000,1.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,...,1.000000,0.000000,5.164786,1.000000,1.000000,1.000000,33.000000,100.000000,1.000000,2.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,1.000000,1.000000,...,1.000000,1.000000,7.600402,8.000000,1.000000,1.000000,605.000000,100.000000,10.000000,18.000000

In [12]:
df_encoded.to_csv("1.0_local_baseline_data.csv",index=False)